
<h1>Bem vindo(a), <%= @seller.name %></h1>
<p>
  Você se inscreveu com sucesso, seu email de acesso é <%= @seller.email %>.
</p>
<p>
  Para entrar no site, basta seguir este link: <%= @url %>.
</p>
<p>Obrigado por se juntar e tenha um ótimo dia!</p>
